@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.titleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}


.title{
    font-family: 'Raleway', sans-serif;
}

.loadingContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10em;
}